.country-tabs-wrapper {
  position: relative;
  max-width: 1240px;
  margin: 20px auto;
}

.country-tabs-wrapper-inner {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* плавный скролл на iOS */

  /* скрываем скроллbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}

.country-tabs-wrapper-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.tabs {
  display: flex;
  gap: 16px;
  white-space: nowrap;
  padding: 4px 0;
}

.tabs span {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tabs span:hover {
  background-color: var(--bg-blue-100);
}

.tabs span.active {
  background-color: var(--bg-blue-100);
}
